<div> 
    <%= link_to image_tag(user.avatar.url(:thumb),
							style: "width: 7rem;", 
							class: "my-2 rounded-lg shadow-sm"), 
              user_path(user) %> 
	
  <% if params[:controller] == 'posts' %>
    <h2 class="font-italic font-weight-light"> 
      <%= link_to user.name, user_path(user) %>
    </h2>
  <% end %>
</div>