<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <h1 class="mb-5">Connecting with other developers builds ur confidence  </h1>   
    <ul>
      <li class="my-3"> <b>Tell us about ur bugs and get help </b> from other developers </li>
      <li class="my-3"> <b>Make developer friends</b> Chat with them  real time </li>
      <li class="my-3">  <b>Ask programing questions</b> and get more answers </li> 
    </ul>
  </div>

  <div class="col-md-6 mx-auto">
    <%= render 'devise/registrations/form' %>
  </div>

</div>